/* Colors */

:root {
    --mainColor: #f75e61;

}


/* Nav Bar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.6) !important;
}
nav a img {
    width: 20vh;
}

.navbar-nav li {
    padding-right: .7rem;

}

.navbar-dark .navbar-nav .nav-link:hover {

    color: tomato;
}

/* Slider */

.carousel-item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    overflow-x: hidden;

}

/* WWD Section */

.btn-circle.btn-xl {
    width: 25vh;
    height: 25vh;
    padding: 4vh 4vh;
    border-radius: 15vh;
    font-size: 10vh;
    line-height: 1.33;
}

/* Quotes */

#quotes .row{
    background:  
    linear-gradient(
        rgba(247, 94, 97, 0.8),
        rgba(247, 94, 97, 0.8)
    ),
    url(/img/slider-image-3.jpg);
}

.profile-pic {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    align-self: center;
}

/* footer */



/* Global styles */
.max-height {
    min-height:calc(100vh - 76px);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}