/* Colors */

:root {
    --mainColor: #f75e61;
}

/* Nav Bar */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.6) !important;
}

nav a img {
    width: 20vh;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: tomato;
}

/* Slider */

.carousel-item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    overflow-x: hidden;
}

/* WWD Section */

.btn-circle.btn-xl {
    width: 25vh;
    height: 25vh;
    padding: 4vh 4vh;
    border-radius: 15vh;
    font-size: 10vh;
    line-height: 1.33;
}

/* Quotes */

#quotes .row {
    background: linear-gradient( rgba(247, 94, 97, 0.8), rgba(247, 94, 97, 0.8)), url(/img/slider-image-3.jpg);
}

.profile-pic {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    align-self: center;
}

/* footer */

/* About Img top */
#ab-top {
    height: 60vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(247, 94, 97, 0.8)), url(/img/about-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* Our Work styles */
#ow-top {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(247, 94, 97, 0.8)), url(/img/Slider-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* Our District styles */

#od-top {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(247, 94, 97, 0.8)), url(/img/Slider-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.card-pic {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;

}

/* WS Styles */
#ws-top .container-fluid {
    height: calc(100vh - 76px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/ws-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#projects .container-fluid .row {
    height: 70vh;
}

/* CE Styles */

#ce-top .container-fluid {
    height: calc(100vh - 76px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/ce-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* SA Styles */
#sa-top .container-fluid {
    height: calc(100vh - 76px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/sa-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* Cult Styles */
#cult-top .container-fluid {
    height: calc(100vh - 76px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/cult-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* History Styles */

#hs-top .container-fluid {
    height: calc(100vh - 76px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/Slider-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* location styles */

#loc-top .container-fluid {
    height: calc(100vh - 76px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/loc-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


/* Global styles */

.max-height {
    min-height: calc(100vh - 76px);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero-img {
   
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(247, 94, 97, 0.8)), url(/img/Slider-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
